<div id="seasons-div" class="ml-4 mr-4">
  <h1 class="title">Seasons</h1>

  <%= render 'layouts/search'%>

  <ul id="seasons-ul">
    <% @seasons.each do |season| %>
      <li><%= link_to season.year,  season_path(season)%></li>
    <% end %>
  </ul>
</div>
