<h1>Seasons#index</h1>
<p>Find me in app/views/seasons/index.html.erb</p>

<table>
  <% @seasons.each do |season| %>
    <tr>
      <td><%= link_to season.year,  season_path(season)%></td>
    </tr>
  <% end %>
</table>
