<h1>Circuits#index</h1>
<p>Find me in app/views/circuits/index.html.erb</p>

<table>
  <% @circuits.each do |circuit| %>
    <tr>
      <td><%= link_to circuit.name, circuit_path(circuit) %></td>
      <td><%= circuit.country %></td>
    </tr>
  <% end %>
</table>

