<div class="ml-4">
  <h1 class="title">Circuits</h1>

  <%= render 'layouts/search' %>

  <table class="table">
    <% @circuits.each do |circuit| %>
      <tr>
        <td><%= link_to circuit.name, circuit_path(circuit) %></td>
        <td><%= circuit.country %></td>
      </tr>
    <% end %>
  </table>

</div>
