<div class="ml-4 mr-4">
  <h1 class="title">Laptimes</h1>

  <%= render 'layouts/search' %>

  <ul id="laptimes-ul">
    <% @laptimes.each do |laptime| %>
      <li><%= link_to laptime.laptime, laptime_path(laptime) %></li>
    <% end %>
  </ul>
</div>
