<h1>Laptimes#index</h1>
<p>Find me in app/views/laptimes/index.html.erb</p>

<table>
  <% @laptimes.each do |laptime| %>
  <tr>
    <td><%= link_to laptime.laptime, laptime_path(laptime) %></td>
  </tr>
  <% end %>
</table>
