<h1>Drivers#index</h1>
<p>Find me in app/views/drivers/index.html.erb</p>

<% @results.each do |result| %>
  <tr>
    <td><%= result.first_name %></td>
    <td><%= result.last_name %></td>
    <td><%= result.dob %></td>
    <td><%= result.nationality %></td>
    <br/>
  </tr>
  <% end %>
